workflows/atendimento-ia-whatsapp.json
{
  "name": "Atendimento IA WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atendimento-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Mensagem recebida (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "b1000000-0000-4000-8000-0000000000wh"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é o assistente virtual de uma empresa fictícia (\"Acme\"). Hoje é {{ $now.format('DDDD') }}. Responda em português, de forma cordial e objetiva. Tire dúvidas sobre serviços, horários e agendamento. Se o cliente pedir algo que só um humano resolve (reclamação, negociação, caso fora do padrão), diga que vai encaminhar para um atendente. Nunca invente preços ou horários — use a ferramenta de consulta.",
          "maxIterations": 15
        }
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Assistente de atendimento",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [520, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": { "temperature": 0.3 }
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Modelo de IA",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [400, 520],
      "notes": "Conecte aqui sua credencial da OpenAI."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.from }}",
        "contextWindowLength": 50
      },
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "Memória da conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 520]
    },
    {
      "parameters": {
        "toolDescription": "Consulta os serviços disponíveis, preços e horários de atendimento da empresa. Use sempre que o cliente perguntar o que a empresa faz, quanto custa ou quando atende. Retorna uma lista de serviços com preço e a agenda de horários.",
        "url": "https://api.exemplo.com/servicos",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "busca",
              "valueProvider": "modelOptional",
              "value": "={{ $fromAI('busca', 'termo que o cliente quer consultar, ex: \"corte de cabelo\" ou \"horário sábado\". Deixe vazio para listar tudo.', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "Consulta serviços e horários",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [720, 520],
      "notes": "URL fictícia — aponte para a API real de catálogo/agenda no uso."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000006",
      "name": "Responde ao cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Mensagem recebida (Webhook)": {
      "main": [[{ "node": "Assistente de atendimento", "type": "main", "index": 0 }]]
    },
    "Modelo de IA": {
      "ai_languageModel": [[{ "node": "Assistente de atendimento", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memória da conversa": {
      "ai_memory": [[{ "node": "Assistente de atendimento", "type": "ai_memory", "index": 0 }]]
    },
    "Consulta serviços e horários": {
      "ai_tool": [[{ "node": "Assistente de atendimento", "type": "ai_tool", "index": 0 }]]
    },
    "Assistente de atendimento": {
      "main": [[{ "node": "Responde ao cliente", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
