workflows/prospecta-leads.json
{
  "name": "Prospecta leads",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 8 }]
        }
      },
      "id": "c1000000-0000-4000-8000-000000000001",
      "name": "Toda manhã (Agenda)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://api.exemplo.com/empresas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "segmento", "value": "restaurantes" },
            { "name": "cidade", "value": "Rio de Janeiro" },
            { "name": "limite", "value": "20" }
          ]
        },
        "options": {}
      },
      "id": "c1000000-0000-4000-8000-000000000002",
      "name": "Busca empresas (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Fonte fictícia. Troque pela API/scraper real da sua fonte de dados."
    },
    {
      "parameters": {
        "jsCode": "// Normaliza e enriquece cada empresa retornada.\n// Entrada esperada: { nome, site, telefone, avaliacao }\nconst SEM_SITE_SCORE = 30;\n\nreturn items.map((item) => {\n  const e = item.json;\n  const temSite = Boolean(e.site && e.site.trim());\n  const nota = Number(e.avaliacao) || 0;\n\n  // Score simples de prioridade: quem não tem site presente é oportunidade.\n  let score = 0;\n  if (!temSite) score += SEM_SITE_SCORE;\n  if (nota >= 4) score += 20;\n  if (e.telefone) score += 10;\n\n  return {\n    json: {\n      nome: (e.nome || '').trim(),\n      site: temSite ? e.site.trim() : null,\n      telefone: e.telefone || null,\n      avaliacao: nota,\n      tem_site: temSite,\n      score_prioridade: score,\n      capturado_em: $now.toISO(),\n    },\n  };\n});"
      },
      "id": "c1000000-0000-4000-8000-000000000003",
      "name": "Normaliza e pontua",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json.score_prioridade }}",
              "rightValue": 30,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1000000-0000-4000-8000-000000000004",
      "name": "Vale a pena?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "SUA_PLANILHA_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "c1000000-0000-4000-8000-000000000005",
      "name": "Salva na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1180, 300],
      "notes": "Conecte sua credencial do Google Sheets e informe a planilha de destino."
    }
  ],
  "connections": {
    "Toda manhã (Agenda)": {
      "main": [[{ "node": "Busca empresas (API)", "type": "main", "index": 0 }]]
    },
    "Busca empresas (API)": {
      "main": [[{ "node": "Normaliza e pontua", "type": "main", "index": 0 }]]
    },
    "Normaliza e pontua": {
      "main": [[{ "node": "Vale a pena?", "type": "main", "index": 0 }]]
    },
    "Vale a pena?": {
      "main": [[{ "node": "Salva na planilha", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
